body, html {
    margin: 0 auto;
    font-family: 'McLaren', cursive;
    width: 100%;
    height: 100%;
    padding: 0px;
    text-align: center;
    background-image: linear-gradient(180deg, #222930, #000011);
    background-attachment: fixed; /* repairs gradient */
}

article {
    font-size: 20px;
    margin: 0 auto;
    width: 70%;
    min-height: calc(100% - 200px);
    background-image: linear-gradient(180deg, #803e00, #871101);
    padding-top: 150px;
    box-shadow: 0 0 8px #000;
}

header {
    margin: 0 auto;
    font-family: 'Bangers', cursive;
    background-color: #871101;
    width: 80%;
    height: 100px;
    position: fixed;
    left: 50%;
    margin-left: -40%;
    filter: drop-shadow(0 0 8px #000);
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}

header nav ul li {
    width: fit-content;
    height: 50px;
    float: left;
    padding: 10px 50px 10px 50px;
    font-size: 20px;
}

header nav ul li:hover {
    color: #fff;
    cursor: pointer;
}

.header-title {
    font-size: 24px;
    float: left;
    margin-left: 10%;
}

.header-title h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.header-title:hover {
    cursor: pointer;
}

.header-nav {
    color: #000;
    float: right;
    margin-right: 10%;
}

ul {
    list-style-type: none;
}

footer {
    background-color: #871101;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    width: 70%;
    position: relative;
    bottom: 0px;
}

footer p {
    display: block;
    position: absolute;
    font-size: 18px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 30%;
}

#gameCanvas {
    border: 3px solid #000;
    border-radius: 5px;
    margin-top: 50px;
}

.game-tools {
    margin-top: 50px;
}

.select-nob {
    display: block;
    margin: 0 auto;
    padding: 5px;
    background-color: #222930;
    cursor: pointer;
    color: #ebc934;
    height: 30px;
    width: 50px;
}

select {
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    -webkit-appearance: none;
}

.reset-button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-size: 50px;
    margin-top: 20px;
    height: 30px;
    width: 50px;
}

.reset-button:hover {
    color: #ebc934;
}

.article-content {
    text-align: justify;
    padding: 5%;
}

sup {
    vertical-align: super;
    font-size: 12px;
}

span {
    color: #ebc934;
}

.invisible {
    display: none;
}

.center {
    text-align: center;
}